
# Instead of manually running the docker run we are using the docker compose yaml file
# for bulding image for i in mongodb mysql catalogue user cart shipping payment frontend ; do cd $i; docker build -t $i:v1 . ; cd ..; done but now using build: in this docker compose file
services:
  mongodb:
    build:
      context: ./mongodb
      dockerfile: Dockerfile
    image: bharathgaveni/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db

  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data

  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile  
    image: bharathgaveni/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - rabbitmq:/var/lib/rabbitmq  

  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: bharathgaveni/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb

  user:
    build:
      context: ./user
      dockerfile: Dockerfile
    image: bharathgaveni/user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb

  cart:
    build:
      context: ./cart
      dockerfile: Dockerfile
    image: bharathgaveni/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue

  shipping:
    build:
      context: ./shipping
      dockerfile: Dockerfile
    image: bharathgaveni/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart

  payment:
    build:
      context: ./payment
      dockerfile: Dockerfile
    image: bharathgaveni/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user

  frontend: 
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: bharathgaveni/frontend:v1
    container_name: frontend
    ports:
    - "80:80"

    depends_on:
    - user
    - cart
    - catalogue
    - payment


networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you manually created a network using docker network command


volumes:
  mongodb: # docker volume create mongodb so docker will create a file in /var/lib/docker/volumes/mongodb this is named volume manged by docker only
  mysql:
  rabbitmq:
  redis:


  